/*.gem
/.bundle/
/Gemfile.lock
/doc/
/log/*.log
/pkg/
/tmp/
/test/dummy/app/assets/builds/*
!/test/dummy/app/assets/builds/.keep
/test/dummy/db/*.sqlite3
/test/dummy/db/*.sqlite3-*
/test/dummy/log/*.log
/test/dummy/storage/
/test/dummy/tmp/
/*.gem
