<!-- Button trigger modal -->
<button type="button" id='feedbackButton' class="btn btn-warning feedback_button_position" data-toggle="modal" data-target="#modalFeedbackForm">
  Feedback
</button>

<%= render partial: 'bootstrap_feedbacker/remarks/modal' %>
