<div data-controller="bootstrap-feedbacker--remarks">
  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalFeedbackLabel" data-bootstrap-feedbacker--remarks-target="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="modalFeedbackLabel">Feedback</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="bootstrap_feedbacker_remark_modal_content">
          <%= render('form') %>
        </div>
      </div>
    </div>
  </div>
</div>
